
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59555555;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 40px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.profile-img-container {
    flex-shrink: 0;
}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-information {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 10px 0;
    font-size: 3.5em;
    color: #929292;
}

.last-name {
    font-size: 2em;
    color: #ffb71a;
}

.profession {
    margin-top: 5px;
    font-size: 1.5em;
    color: #929292;
}

/* Estilos de informacion de contacto */

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #ffeabde8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 20px;
    width: 50% !important;
    font-size: 1.2em;
    height: 288px;
    border: solid 1px #f5c96be8;
}

/* Estilos de descripcion personal */
.personal-description {
    padding: 20px;
    border: solid 1px #ffb71a;
    border-radius: 20px;

}

.personal-description h2 {
    color: #ffb71a;
    text-align: center;
}

.personal-description p{
    font-size: 1.1em; 
    color: #757474;
    line-height: 1.6;
    text-align: justify;
}


/* Estilos de experiencia laboral*/

.work-experience {
    padding: 20px;
}

.work-experience h2 {
    color: #ffb71a;
    text-align: left;
    font-size: 45px !important;
    border-bottom: #f7d075 solid 1px;
}

.experience-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffcf5;
}

.experience-table tr {
    border-bottom: 1px solid #ffd571;
}

.experience-table td {
    padding: 10px;
    vertical-align: top;
}


.skill-section {
    padding: 20px;
}

.skill-section h2 {
    color: #ffb71a;
    text-align: left;
    font-size: 45px;
    border-bottom: #f7d075 solid 1px;
}

.skill-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffcf5;
    border-radius: 20px;
    
}

.skill-table tr {
    border-bottom: 1px solid #ffd571;
}

.skill-table td {
    padding: 10px;
    vertical-align: top;
}

.skill-table td div {
    background-color: #f5d17fa7 ;
    padding: 20px;
    justify-content: left;
    align-items: start;
    display: flex;
    border-radius: 50px;
}

.skill-table td div p {
    color: #252525;
}